@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@900&family=Martel+Sans:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.main{
    /* background-image: url(Assets/imgs/bg.jpg); */
    background-image: url(Assets/imgs/bg2.jpg);
    height: 90vh;
    position: relative;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;  
    color: pink;
}

.main .box{
    height: 90vh;
    width: 100%;
    background: black;
    opacity: 0.55;
    position: absolute;
    top: 0;
}

nav{
    /* position: absolute; */
    /* background-color: aqua; */
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
}

nav img{
    width: 150px;
    position: relative;
    z-index: 1;
    opacity: 0.8;
}

nav button,#lang{
    position: relative;
    z-index: 1;
    right: 10rem;
}

.nav_element{
    display: flex;
    align-items: center;
    justify-self: center;
    position: relative;
}

.main #lang{
    background-color: rgba(53, 52, 52, 0.527);
    color: white;
    height: 2rem;
    width: 8vw;
    border: 2px solid rgba(216, 216, 216, 0.3);
    border-radius: 0.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.main #lang:focus{
    border: 2px solid rgb(255, 255, 255);
}

.dropdown-content{
    display: none;
    text-align: center;
    position: absolute;
    top: 35px;
    left: -150px;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(64, 167, 199);
    color: white;
}

.show{
    display: block;
}

.text1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    color: white;
    position: relative;
    /* font-family: 'Martel Sans', sans-serif; */
    font-family: 'Noto Sans',sans-serif;    
    gap: 20px;
    /* padding: 30px; */
}

.text1> :first-child{
    font-weight: 900;
    font-size: 3rem;
}

.text1> :nth-child(2){
    font-weight: 400;
    font-size: 1.5rem;
}

.text1> :nth-child(3){
    font-weight: 400;
    font-size: 1.25rem;
}

.main .getStarted{
    /* background-color: rgb(126, 197, 32); */
    height: 5rem;
    width: 45vw;
    display: flex;
    align-items: center;
    position: relative;
}   

.getStarted #emailAddress{
    height: 3.5rem;
    width: 30vw;
    margin: 5px;
    border-radius: 0.2rem;
    border: 2px solid rgb(110, 110, 110,0.7);
    background-color: rgba(32, 32, 32, 0.85);
    color: white;
    padding-left: 15px;
}

.placeholder{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.671);
}

.getStarted #emailAddress:focus + .placeholder{
    top: 25%;
    font-size: 0.8rem;
}

.getStarted #emailAddress:focus{
    border: 4px solid rgba(238, 238, 238, 0.7);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    height: 3.8rem;
}

.redBtn:hover,.redBtn:focus{
    background-color:rgb(216, 28, 28) ;
}
.redBtn{
    background-color: rgb(240, 16, 16);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-family: 'Noto Sans',sans-serif;
    height: 2rem;
    width: 5vw;
    font-size: 1rem;
    font-weight: 500;
    margin: 5px;
}

.getStarted button{
    height: 3.5rem;
    width: 15vw;    
    font-size: 1.5rem;
    font-weight: 600;
}

